
.flex-container{
    display: flex;
    gap: 6px;
}

.flex-container.vert{
    flex-direction: column;
}

.flex-container.one{
    background-color: coral;
}

.item{
    background-color: coral;
    text-align: left;
    flex: 1 1 auto;
}

.button{
    background-color: rgb(229, 221, 11);
    border: 4px solid brown;
    color: rgb(209, 9, 9);
    font-size: xx-large;
    font-family: 'Lucida Sans';
}

.button:hover{
    background-color: rgb(170, 165, 8);
    color: black;
}